@media screen and (min-width: 1400px) {

    .missao--img-fundo {
        height: 320px;
        background-size: cover;
        background-position: bottom;
    }

    .missao-objetivos-valores article {
        width: 28%;
    }

    .missao-objetivos-valores article:nth-child(2) {
        width: 44%;
    }
}