.missao--img-fundo {
    background-image: url('../../../assets/images/pages/missao/missao.jpg');
}

.missao-objetivos-valores {
    gap: var(--padding-gap);
    padding: var(--padding-gap);

    display: flex;
    justify-content: center;
    align-items: center;
}

.missao-objetivos-valores article {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
    background-color: white;
}

.missao-objetivos-valores .subtitle,
.missao-objetivos-valores .paragrafe{
    text-align: center;
    margin: 0;
}

.missao-objetivos-valores .subtitle {
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-shadow: none;
    color: white;
    text-align: center;
}

.missao-objetivos-valores article:nth-child(1) .subtitle {
    background-color: var(--primary-color);
}

.missao-objetivos-valores article:nth-child(2) .subtitle {
    background-color: var(--secudary-color);
}

.missao-objetivos-valores article:nth-child(3) .subtitle {
    background-color: var(--cor-rodape);
}

.missao-objetivos-valores li:not(:last-child) {
    margin-bottom: 1rem;
}

.missao-objetivos-valores .subtitle,
.missao-objetivos-valores .paragrafe {
    padding: var(--padding-gap);
}

.subtitle {
    text-align: center;
}

.missao--cronologia{
    gap: var(--padding-gap);
}

.ponto-linha-cronologica{
    padding-top: var(--padding-gap);
}

.missao--cronologia .foto-evento{
    height: fit-content;
}