@import 'https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';

:root {
    --primary-color: #2D9A9E;
    --secudary-color: #EBB94B;
    --primary-font: "Open Sans", sans-serif;
    --secundary-font: "Bitter", serif;
    --background-citacao: #DFE2E4;
    --cor-sobre: #333333;
    --cor-rodape: #606060;
    --cor-menu: #2d9a9e42;
    --scala: 1;
    --desktop-width: 1200px;
    --padding-gap: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    letter-spacing: .1rem;
    line-height: 1.7rem;
}

a,
p,
li {
    letter-spacing: .07rem;
    line-height: 1.7rem;
}

a {
    font-weight: 400;
    text-decoration: none;
}

ul {
    list-style: none;
}

.baner {
    overflow: hidden;
    background-color: var(--primary-color);
    display: flex;
}

.baner-navio {
    background-image: url(../../assets/images/global/ship.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 13rem;
}

.baner-navio h1 {
    font-size: 1.2rem;
    font-weight: 400;
    width: 20ch;
    padding: 1rem 0;
    color: white;
}

.navegacao {
    border-bottom: 4px solid var(--secudary-color);

    display: flex;
    z-index: 2;
}

.navegacao-top {
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pecem {
    width: 10rem;
    height: 2.4rem;
    background-image: url(../../assets/images/global/logo-pecem.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.menu {
    display: flex;
    background-color: var(--cor-menu);
}

.item,
.subitem {
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.item:hover,
.subitem:hover {
    color: var(--secudary-color);
}

.submenu {
    background-color: rgba(255, 255, 255, 0.712);
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.citacao {
    background-color: var(--background-citacao);
    padding: 1.3rem 2.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.citacao strong {
    color: var(--primary-color);
    font-family: var(--secundary-font);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    max-width: 72ch;
}

.citacao::before,
.citacao::after {
    content: '"';
    position: relative;
    top: -20px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: var(--primary-color);
    font-style: italic;
}

.footer {
    height: fit-content;
}

.contato {
    background-color: var(--cor-sobre);
    display: flex;
}

.contato h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--secudary-color);
}

.contato p,
.contato a {
    font-size: .9rem;
    color: white;
}

.sobre {
    max-width: 50ch;
}

.logos {
    width: 315px * var(--scala);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(1.5rem * var(--scala));
}

.logo-cipp {
    background-image: url(../../assets/images/global/logo-pecem-branco.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: calc(315px * var(--scala));
    height: calc(70px * var(--scala));
}

.roterdam-governo {
    width: 315px * var(--scala);

    display: flex;
    gap: calc(1.5rem * var(--scala));
    justify-content: space-between;
}

.logo-roterdam,
.logo-governo-ceara {
    width: calc(9rem * var(--scala));
    height: calc(3rem * var(--scala));
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.logo-roterdam {
    background-image: url(../../assets/images/global/logo-roterdam.svg);
}

.logo-governo-ceara {
    background-image: url(../../assets/images/global/logo-governo-ceara.svg);
}

.copyright {
    background-color: var(--cor-rodape);
    color: white;
    font-size: .7rem;
}

.copyright p {
    line-height: 1rem;
}

.contato-copyrigth--inside {
    font-weight: 100;
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: var(--padding-gap);
    padding: var(--padding-gap);
}

/* conteudo */
.title,
.subtitle {
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 1.8rem 0;
}

.title {
    color: var(--secudary-color);
    margin: auto;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.3rem;
    padding: 0;
    padding: 1.3rem 0;
    letter-spacing: .08rem;
}

.img-fundo {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: end;
    height: 320px;
}

.paragrafe {
    padding: 1.3rem 0;
    letter-spacing: .06rem;
}

.list {
    list-style: inside;
}

.conteudo {
    background-color: #ebb84b3d;
}

.linha-cronologica {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--padding-gap);
    padding-left: var(--padding-gap);
    max-width: calc(100ch + 90px + 2 * var(--padding-gap));
    margin: auto;
}

.linha-cronologica::before {
    content: "";
    width: 6px;
    transform: translateX(2px);
    height: 100%;
    background-color: black;
    border-radius: 6px;
    position: absolute;
    /* right: 50%; */
    bottom: 0;
}

.ponto-linha-cronologica {
    display: flex;
    justify-content: center;
    /* gap: 90px; */
}

.ponto-linha-cronologica:first-child::before,
.ponto-linha-cronologica:last-child::before {
    content: "";
    height: 24px;
    width: 24px;
    position: absolute;
    /* right: 50%; */
    left: 0;
    background-color: black;
    border-radius: 50%;
    transform: translateX(-12px);
}

.ponto-linha-cronologica:first-child::before {
    top: 0;
}

.ponto-linha-cronologica:last-child::before {
    bottom: 0;
}

.data {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    border: 4px solid black;
    margin-top: -8px;
}

.evento {
    padding: var(--padding-gap);
    max-width: 60ch;
    /* flex: 1; */
}

.foto-evento {
    display: block;
    /* flex: 1; */

    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 250px;
    cursor: pointer;
    transition: 1.5s ;
    scale:0.8;
}

.foto-evento:hover{
    scale:1;
}

.subtitle {
    text-align: center;
}