.comunidade-img-fundo {
    background-image: url('../../../assets/images/pages/comunidade--documentos/corrente.jpg');
}

.p-comunidade--documentos-foto1 {
    background-image: url('../../../assets/images/pages/comunidade--documentos/1869.png');
}

.p-comunidade--documentos-foto2 {
    background-image: url('../../../assets/images/pages/comunidade--documentos/1895.png');
}

.p-comunidade--documentos-foto3 {
    background-image: url('../../../assets/images/pages/comunidade--documentos/1933.png');
}

.p-comunidade--documentos-foto4 {
    background-image: url('../../../assets/images/pages/comunidade--documentos/1949.png');
}

.p-comunidade--documentos-foto5 {
    background-image: url('../../../assets/images/pages/comunidade--documentos/1954.png');
}

.p-comunidade--documentos-foto6 {
    background-image: url('../../../assets/images/pages/comunidade--documentos/1958.png');
}

.p-comunidade--documentos-foto7 {
    background-image: url('../../../assets/images/pages/comunidade--documentos/1976.png');
}

.p-comunidade--documentos-foto8 {
    background-image: url('../../../assets/images/pages/comunidade--documentos/1979.png');
}

.p-comunidade--documentos-foto9 {
    background-image: url('../../../assets/images/pages/comunidade--documentos/1980.png');
}

.p-comunidade--documentos-foto10 {
    background-image: url('../../../assets/images/pages/comunidade--documentos/2022.png');
}